* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: none;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60)), url(./images/techdesk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

li {
    list-style: none;
}

p{
    color: #c9b6b6;
    font-size: 18px;
    color: #f9eaea;
    line-height: 1.5;
    margin-bottom: 50px;
}
a {
    text-decoration: none;
    color: beige;
    font-size: 1rem;
}

a:hover {
    color: rgb(234, 162, 19);
}

/*Header*/
header {
    position: relative;
    padding: 0 2rem;
}
section{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60));
    background-repeat: no-repeat;
}
.container{
    width: 85%;
    margin: auto;
}
.article{
    width: 50%;
    margin: auto;
    text-align: center;
    transform: translateY(25vh);
}
.article h1{
    font-size: 36px;
    color: rgb(255, 255, 255);
    letter-spacing: 1.5px;
    font-weight: 800;
    margin-bottom: 25px;
}

article p{
    font-size: 18px;
    color: #f9eaea;
    line-height: 1.5;
    margin-bottom: 50px;
}

.navBar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.navBar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navBar .links {
    display: flex;
    gap: 2rem;
}

.action_btn {
    background-color: rgb(234, 162, 19);
    color: azure;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.action_btn:hover {
    scale: 1.05;
    color: rgb(255, 255, 255)
}

.action_btn:active {
    scale: 0.95;
}

/* feildset and leagend */
fieldset {
    margin: 2em 0;
    padding: 1em 2em;
    border: solid 1 #256cd7;
    border-radius: 6px;
    min-width: 200px;
    background-color: #436f8d;
    max-width: 50%;
}

legend {
    font-size: 1.25em;
    padding: 0.25em;
    color: rgb(214, 254, 16);
}

/*Labels*/
label {
    display: block;
    margin-top: 1em;
}

label:first-of-type {
    margin-top: 0;
}

input {
    padding: .5em;
    border: solid 1px #256cd7;
}

input[type="text"] {
    width: 15em;
}

textarea {
    min-height: 8em;
    min-width: 100%;
    padding: 0.5em;
    border: solid 1px #256cd7;
}

/* Submit Button */
input[type="submit"] {
    padding: .5em 1em;
    border-radius: 6px;
    background-color: #256cd7;
    color: aqua;
    font-family: 'Lato, san-serif';
    font-size: .8em;
}

.contact{
    position: absolute;
    left: 35%;
    top: 20%;
}

img{
    width: 50%;
    height: auto;
    padding: 0.8rem;
    border-radius: 6px;
}

/*Drop Down*/
.dropdown_Menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_Menu .open{
    height: 240px;
}

.dropdown_Menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_Menu .action_btn{
   width: 100%; 
   display:flex;
   justify-content: center;
}

/* Responsive Design */
@media (max-width: 992px) {

    .navBar .links,
    .navBar .action_btn {
        display: none;
    }

    .navBar .toggle_btn {
        display: block;
    }
    .dropdown_Menu{
      display: block;  
    }
}
@media (max-width: 576px){
    .dropdown_Menu{
        left: 2rem;
        width: unset;
    }
}
.tabbed-form{
    width: 500px;
    box-shadow: 0px 50px 6px -49px rgba(0,0,0,0.75);
}
.table{
    display: flex;
    justify-content: space-around;
    background: #f9eaea;
}