* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: none;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: rgb(52, 79, 86);

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: beige;
    font-size: 1rem;
}

a:hover {
    color: rgb(234, 162, 19);
}

/*Header*/
header {
    position: relative;
    padding: 0 2rem;
}

.navBar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.navBar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navBar .links {
    display: flex;
    gap: 2rem;
}

.navBar .toggle_btn {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: rgb(234, 162, 19);
    color: azure;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.action_btn:hover {
    scale: 1.05;
    color: rgb(255, 255, 255)
}

.action_btn:active {
    scale: 0.95;
}

/* feildset and leagend */
fieldset {
    margin: 2em 0;
    padding: 1em 2em;
    border: solid 1 #256cd7;
    border-radius: 6px;
    min-width: 200px;

}

legend {
    font-size: 1.25em;
    padding: 0.25em;
    color: rgb(42, 68, 103);
}

/*Labels*/
label {
    display: block;
    margin-top: 1em;
}

label:first-of-type {
    margin-top: 0;
}

input {
    padding: .5em;
    border: solid 1px #256cd7;
}

input[type="text"] {
    width: 15em;
}

textarea {
    min-height: 8em;
    min-width: 100%;
    padding: 0.5em;
    border: solid 1px #256cd7;
}

/* Submit Button */
input[type="submit"] {
    padding: .5em 1em;
    border-radius: 6px;
    background-color: #256cd7;
    color: aqua;
    font-family: 'Lato, san-serif';
    font-size: .8em;
}

/*Drop Down*/
.dropdown_Menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_Menu .open{
    height: 240px;
}

.dropdown_Menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_Menu .action_btn{
   width: 100%; 
   display:flex;
   justify-content: center;
}

/* Responsive Design */
@media (max-width: 992px) {

    .navBar .links,
    .navBar .action_btn {
        display: none;
    }

    .navBar .toggle_btn {
        display: block;
    }
    .dropdown_Menu{
      display: block;  
    }
}